.venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.mypy_cache/
.ruff_cache/
.DS_Store
outputs/
.hf-cache/
.idea

*.so
*.npy
*.jpg
*.png
*.exr
*.hdr
*.ply
*.obj
*.mtl
*.csv
*.npz
*.jpeg
*.mp4
*.blend
*.blend1
*.ckpt
*.webp
*.ipynb
*.pkl
*.pt
*.exe